$SocratesRed: #E82C2A;
$danger: $SocratesRed;
@import 'default-base.scss';

ul.rz-profile-menu .rz-navigation-menu .rz-navigation-item-wrapper:hover {
  background-color: black;
  color: #ffffff;
}

ul.rz-profile-menu {
  border-left: none;
}

.dialog-full-height {
}

div.rz-dialog-content div.dialog-full-height {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.rz-dialog div.rz-dialog-content{
  padding: 0;
}


